
<div style="width:100%; text-align: center; margin-top: 10px;">
  <a mat-raised-button routerLinkActive="active" style="margin-right: 10px;" routerLink="/singleMachineView" routerLinkActiveOption="{exact:true}">SingleMachineView</a>
  <a mat-raised-button routerLinkActive="active" style="margin-right: 10px;" routerLink="/SingleMachineViewExtendComponent">Extend Map View</a>
  <a mat-raised-button routerLinkActive="active" style="margin-right: 10px;" routerLink="/MapViewComponent">Map View</a>
  <div style="float: right; position: relative;right: 13px;">
    <a mat-raised-button *ngIf="showButton" (click)="handleButtonClick()">login</a>
  </div>
</div>


<div>
  <router-outlet></router-outlet>
</div>

<!-- <div>
    <app-single-machine-view></app-single-machine-view>
</div>
  <div>
    <app-single-machine-view-extend></app-single-machine-view-extend>
  </div>
  <div>
    <app-map-view></app-map-view>
  </div> -->
  

<!--<div>
    <app-single-machine-view></app-single-machine-view>
</div>
<div>
    <app-map-view></app-map-view>
</div>
<div>
    <app-single-machine-view-extend></app-single-machine-view-extend>
</div>-->