
<!-- leaflet-map.component.html -->
 <div class="container">
    <div class="header-content-area">
        <h1>single view map</h1>
        <h1 class="ellipsis">Ropa Tiger 5 6F1401 RoSiMa , RT5...</h1>
        <h2 class="text-danger ng-star-inserted"> Offline for 2 months 2 days</h2>
    </div>
    <div class="dateRangePicker">
        <div style="float: right;width: 100%;">
            <ejs-daterangepicker *ngIf="!legends.isUnloading" [min]="minDate" [max]="maxDate"></ejs-daterangepicker>
            <ejs-datepicker *ngIf="legends.isUnloading" [min]="minDates" [max]="maxDates" (change)="onDateSelected($event)" (renderDayCell)="onRenderDayCell($event)"></ejs-datepicker>
        </div>
    </div>
</div>
<div class="mapContainer">
    <div class="mapstyle">
        <!--<div class="machineContent">
                <h2 class="singleMapHeading">MAP</h2>
                <h2 class="lastDatePosition">last know position since 4/24/2024, 6:29:57 PM</h2>
         </div>-->
        <div id="leafletMap"></div>
            <div class="map-info">
                <ul class="component ng-star-inserted">
                    <li>
                        <span class="yellow-box">
                            <small class="not-active-map-legend ng-star-inserted">X</small>
                        </span>LIFTING 
                    </li>
                    <li>
                        <span class="red-box">
                            <small class="not-active-map-legend ng-star-inserted">X</small>
                        </span>NO LIFTING
                    </li>
                    <li>
                        <span class="blue-box">
                            <small  class="not-active-map-legend ng-star-inserted">X</small>
                        </span>ROAD
                    </li>
                    <li class="green-box-legend">
                        <span class="green-box">
                            <small class="not-active-map-legend ng-star-inserted">X</small>
                        </span>UNLOADING
                    </li>
                </ul>
                <a routerLink="/SingleMachineViewExtendComponent" class="icon-fullscreen">
                    <img src="./assets/fullscreen.svg">
                </a>
            </div>
    </div>
</div>



