<!-- leaflet-map.component.html -->
<div id="leafletMap"></div>

<!--<div class="leaflet-top leaflet-left">
    <div class="leaflet-control-layers leaflet-control-layers-expanded leaflet-control" aria-haspopup="true">
        <a class="leaflet-control-layers-toggle" href="#" title="Layers" role="button"></a>
        <section class="leaflet-control-layers-list">
            <div class="leaflet-control-layers-base" style="/* float: left; */ display: flex;">
            <label style="margin-right: 10px;">
                <span>
                    <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_45" checked="checked">
                    <span> sat</span>
                </span>
            </label>
            <label>
                <span>
                    <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_45">
                    <span> hybrid</span>
                </span>
            </label>
            <label>
                <span>
                    <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_45">
                    <span> terrian</span>
                </span>
            </label>
            </div>
            <div class="leaflet-control-layers-separator">

            </div>
            <div class="leaflet-control-layers-overlays">
                <label>
                    <span>
                        <input type="checkbox" class="leaflet-control-layers-selector" checked="">
                        <span> Marker</span>
                    </span>
                </label>
            </div>
        </section>
    </div>
</div>-->


