
<!-- leaflet-map.component.html -->

<div class="mapContainer">
    <div class="container">
        <div style="width: 100%; text-align: center;"><h1>Date Range Picker</h1></div>
        <ejs-daterangepicker (change)="onDateSelected($event)"></ejs-daterangepicker>
    </div>
    <div class="mapstyle">
        <div id="leafletMap"></div>
            <div class="map-info">
                <ul class="component ng-star-inserted">
                    <li>
                        <span class="yellow-box">
                            <small class="not-active-map-legend ng-star-inserted">X</small>
                        </span>LIFTING 
                    </li>
                    <li>
                        <span class="red-box">
                            <small class="not-active-map-legend ng-star-inserted">X</small>
                        </span>NO LIFTING
                    </li>
                    <li>
                        <span class="blue-box">
                            <small  class="not-active-map-legend ng-star-inserted">X</small>
                        </span>ROAD
                    </li>
                    <li>
                        <span class="green-box">
                            <small class="not-active-map-legend ng-star-inserted">X</small>
                        </span>UNLOADING
                    </li>
                </ul>
                <a href="javascript:void(0);" class="icon-fullscreen">
                    <img src="./assets/fullscreen.svg">
                </a>
            </div>
    </div>
</div>



