
.machine-status-holder span.status{
    position: absolute;
    left: 17%;
    top: 34%;
    font-size: 12px;
    line-height: 15px;
    color: #b93435;
}

#leafletMap{
    height: calc(100vh - 40px);
    width: 100%
}
