
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$leaflet-maps-primary: mat.define-palette(mat.$indigo-palette);
$leaflet-maps-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$leaflet-maps-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$leaflet-maps-theme: mat.define-light-theme((
  color: (
    primary: $leaflet-maps-primary,
    accent: $leaflet-maps-accent,
    warn: $leaflet-maps-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($leaflet-maps-theme);

@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
/* You can add global styles to this file, and also import other style files */
.leaflet-popup-content {
    margin: 5px 15px 6px 13px;
    line-height: 1.3;
    font-size: 13px;
    font-size: 1.08333em;
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 19px;
    height: 15px;
    font: 11px / 16px Tahoma, Verdana, sans-serif;
    color: #757575;
    text-decoration: none;
    background: transparent;
}
.leaflet-popup-tip {
    width: 10px;
    height: 13px;
}

style attribute {
    text-align: center;
    /* font-size: 1rem; */
}

.leaflet-popup-content p {
    /* margin: 17px 0; */
    /* margin: 1.3em 0;*/
    margin: 0;
}

.leaflet-popup-content p {
    /* margin: 17px 0; */
    /* margin: 1.3em 0; */
}

.machine-status-holder span.status{
    position: absolute;
    left: 29%;
    top: 51%;
    font-size: 12px;
    line-height: 15px;
    color: #b93435;
}

*{
    padding: 0;
    margin: 0;
}


.leaflet-control-boxzoom {
    position: relative;
    padding: 3px;
    border: none;
    background-color:white;
    border-radius: 4px;
    width:25px;
    height:25px;
    line-height: 25px !important;
    background-image:url(./assets/leaflet-control-boxzoom.svg);
    background-repeat:no-repeat;
    background-size:24px 24px;      /* 25px image, 25px box: subtract 2px for padding on every side = 21px rendering height */
    background-position:4px 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
    cursor:pointer;
}

.leaflet-control-boxzoom.leaflet-control-boxzoom-active {
    background-color:#aaaaaa;
}

.leaflet-container.leaflet-control-boxzoom-active {
    cursor:crosshair;
}

// css for showall button

.leaflet-control-showall a {
	font-size: 1.4em;
	margin-left: 1px;
    color: #444;
}

.leaflet-control-showall.active a {
	color: #2074B6;
}

.leaflet-control-showall {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
    background:url(./assets/search.png);
    background-repeat:no-repeat;
    background-size:24px 24px;      /* 25px image, 25px box: subtract 2px for padding on every side = 21px rendering height */
    background-position:4px 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
}


.leaflet-control-layers-base{
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  
  .leaflet-control-layers-base > label{
    margin-left: 5px;
  }

  .leaflet-control-layers-base label:first-child{
    border-right: 1px solid #eee;
    padding-right: 5px;
    box-sizing: border-box;
  }

  .leaflet-control-layers{
    border-radius: 3px;
  }

  .firstLabel:hover{
    background-color: #eee;
  }

  .leaflet-control-layers-base label:hover input[type="radio"]{
    display: inline-block;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: -5px;
    top: 20px;
    background-color: #f9f9f9;
    min-width: 61px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 6px 8px;
    z-index: 1;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .leaflet-control-layers-base button{
    background: none;
    margin-left: 5px;
    border: none;
    padding: 5px;
  }

  .leaflet-control-layers-expanded{
    padding: 0;
  }


  .leaflet-control-defaultextent {

  }
  
  .leaflet-control-defaultextent-toggle {
    text-indent: -9999px;
    white-space: nowrap;
    background-image: url('./assets/autozoom.svg');
    background-size: 20px 20px;
    display: block;
  }

  a.leaflet-control-defaultextent-toggle:focus{
    background-image: url('./assets/autozoom1.svg');
  }
  a.leaflet-control-defaultextent-toggle:active{
    background-image: url('./assets/autozoom.svg');
  }
  
  /* CSS for high-resolution devices */
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
      .leaflet-control-defaultextent-toggle {
          background-image: url('./assets/autozoom1.svg');
          background-size: 26px 26px;
          background-repeat: no-repeat;
      }
  }

  .fixedViewControlToggel{
    background-image: url('./assets/pinSelect.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
  }

  .marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
    }
  .marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
    }
  
  .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
    }
  .marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
    }
  
  .marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
    }
  .marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
    }
  
    /* IE 6-8 fallback colors */
  .leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
    }
  .leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
    }
  
  .leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
    }
  .leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
    }
  
  .leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
    }
  .leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
  }
  
  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    }
  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
  
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
  .marker-cluster span {
    line-height: 30px;
    }

    /* Example CSS to style the custom control */
.custom-control-toggle{
  background-image: url('./assets/hide-machine.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.leaflet-control.custom-Control-Window {
  padding: 5px -1px;
  border-radius: 4px;
  cursor: pointer;
}


a.custom-control-toggle:focus{
  background-image: url('./assets/show-machine.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.fixedViewControlToggel.active {
  background-image: url('./assets/pinSelect1.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
}

.fixedViewControlToggel.fixed-inactive {
  background-image: url('./assets/pinSelect1.svg');
  background-size: 26px 26px;
  background-repeat: no-repeat;
}

.leaflet-interactive {
  cursor: pointer;
  fill: none;
}

.custom-div-icon {
  position: relative;
  top: -60px;
}

.label-icon {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: relative;
    top: -66px;
    left: 26px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
