/* You can add global styles to this file, and also import other style files */
.leaflet-popup-content {
    margin: 5px 15px 6px 13px;
    line-height: 1.3;
    font-size: 13px;
    font-size: 1.08333em;
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 19px;
    height: 15px;
    font: 11px / 16px Tahoma, Verdana, sans-serif;
    color: #757575;
    text-decoration: none;
    background: transparent;
}
.leaflet-popup-tip {
    width: 10px;
    height: 13px;
}

style attribute {
    text-align: center;
    /* font-size: 1rem; */
}

.leaflet-popup-content p {
    /* margin: 17px 0; */
    /* margin: 1.3em 0;*/
    margin: 0;
}

.leaflet-popup-content p {
    /* margin: 17px 0; */
    /* margin: 1.3em 0; */
}

.machine-status-holder span.status{
    position: absolute;
    left: 29%;
    top: 51%;
    font-size: 12px;
    line-height: 15px;
    color: #b93435;
}

*{
    padding: 0;
    margin: 0;
}


.leaflet-control-boxzoom {
    position: relative;
    left: 1px;
    padding: 3px;
    border: none;
    background-color:white;
    border-radius: 4px;
    width:25px;
    height:25px;
    line-height: 25px !important;
    background-image:url(./assets/leaflet-control-boxzoom.svg);
    background-repeat:no-repeat;
    background-size:24px 24px;      /* 25px image, 25px box: subtract 2px for padding on every side = 21px rendering height */
    background-position:4px 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
    cursor:pointer;
}

.leaflet-control-boxzoom.leaflet-control-boxzoom-active {
    background-color:#aaaaaa;
}

.leaflet-container.leaflet-control-boxzoom-active {
    cursor:crosshair;
}

// css for showall button

.leaflet-control-showall a {
	font-size: 1.4em;
	margin-left: 1px;
    color: #444;
}

.leaflet-control-showall.active a {
	color: #2074B6;
}

.leaflet-control-showall {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
    background:url(./assets/search.png);
    background-repeat:no-repeat;
    background-size:24px 24px;      /* 25px image, 25px box: subtract 2px for padding on every side = 21px rendering height */
    background-position:4px 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
}

//css for miniMap view on map

.leaflet-control-minimap {
    border:solid rgba(255, 255, 255, 1.0) 3px;
    box-shadow: 0 1px 7px #999;
    background: #f8f8f9;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    transition: all .2s;
}

.leaflet-control-minimap a {
    background-color: rgba(255, 255, 255, 1.0);
    background-position: 1px 2px;
    background-repeat: no-repeat;
    display: block;
    outline: none;
    z-index: 99999;
    transition: all .2s;
}

.leaflet-control-minimap a.minimized {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.leaflet-control-minimap-toggle-display {
    background-image: url("./assets/toggle.png");
    border-radius: 2px 0px 2px 0px;
    height: 19px;
    width: 19px;
    position: absolute;
    bottom: 0;
    right: 0; 
}
