/* You can add global styles to this file, and also import other style files */
.leaflet-popup-content {
    margin: 5px 15px 6px 13px;
    line-height: 1.3;
    font-size: 13px;
    font-size: 1.08333em;
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 19px;
    height: 15px;
    font: 11px / 16px Tahoma, Verdana, sans-serif;
    color: #757575;
    text-decoration: none;
    background: transparent;
}
.leaflet-popup-tip {
    width: 10px;
    height: 13px;
}

style attribute {
    text-align: center;
    /* font-size: 1rem; */
}

.leaflet-popup-content p {
    /* margin: 17px 0; */
    /* margin: 1.3em 0;*/
    margin: 0;
}

.leaflet-popup-content p {
    /* margin: 17px 0; */
    /* margin: 1.3em 0; */
}

.machine-status-holder span.status{
    position: absolute;
    left: 29%;
    top: 51%;
    font-size: 12px;
    line-height: 15px;
    color: #b93435;
}

*{
    padding: 0;
    margin: 0;
}


.leaflet-control-boxzoom {
    position: relative;
    padding: 3px;
    border: none;
    background-color:white;
    border-radius: 4px;
    width:25px;
    height:25px;
    line-height: 25px !important;
    background-image:url(./assets/leaflet-control-boxzoom.svg);
    background-repeat:no-repeat;
    background-size:24px 24px;      /* 25px image, 25px box: subtract 2px for padding on every side = 21px rendering height */
    background-position:4px 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
    cursor:pointer;
}

.leaflet-control-boxzoom.leaflet-control-boxzoom-active {
    background-color:#aaaaaa;
}

.leaflet-container.leaflet-control-boxzoom-active {
    cursor:crosshair;
}

// css for showall button

.leaflet-control-showall a {
	font-size: 1.4em;
	margin-left: 1px;
    color: #444;
}

.leaflet-control-showall.active a {
	color: #2074B6;
}

.leaflet-control-showall {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
    background:url(./assets/search.png);
    background-repeat:no-repeat;
    background-size:24px 24px;      /* 25px image, 25px box: subtract 2px for padding on every side = 21px rendering height */
    background-position:4px 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
}

//css for miniMap view on map

.leaflet-control-minimap {
    border:solid rgba(255, 255, 255, 1.0) 3px;
    box-shadow: 0 1px 7px #999;
    background: #f8f8f9;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    transition: all .2s;
}

.leaflet-control-minimap a {
    background-color: rgba(255, 255, 255, 1.0);
    background-position: 1px 2px;
    background-repeat: no-repeat;
    display: block;
    outline: none;
    z-index: 99999;
    transition: all .2s;
}

.leaflet-control-minimap a.minimized {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.leaflet-control-minimap-toggle-display {
    background-image: url("./assets/toggle.png");
    border-radius: 2px 0px 2px 0px;
    height: 19px;
    width: 19px;
    position: absolute;
    bottom: 0;
    right: 0; 
}

//showing coordinates on map through mouse touch

.leaflet-control-coordinates
{
    background-color:#D8D8D8;
    background-color:rgba(255,255,255,.8);
    cursor:pointer;
}
.leaflet-control-coordinates,.leaflet-control-coordinates .uiElement input
{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.leaflet-control-coordinates .uiElement
{
    margin:4px;
}
.leaflet-control-coordinates .uiElement .labelFirst
{
    margin-right:4px;
}
.leaflet-control-coordinates .uiHidden
{
    display:none;
}

  

.leaflet-control-layers-base{
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  
  .leaflet-control-layers-base > label{
    margin-left: 5px;
  }

  .leaflet-control-layers-base label:first-child{
    border-right: 1px solid #eee;
    padding-right: 5px;
    box-sizing: border-box;
  }

  .leaflet-control-layers{
    border-radius: 3px;
  }

  .firstLabel:hover{
    background-color: #eee;
  }

  .leaflet-control-layers-base label:hover input[type="radio"]{
    display: inline-block;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: -5px;
    top: 20px;
    background-color: #f9f9f9;
    min-width: 61px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 6px 8px;
    z-index: 1;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .leaflet-control-layers-base button{
    background: none;
    margin-left: 5px;
    border: none;
    padding: 5px;
  }

  .leaflet-control-layers-expanded{
    padding: 0;
  }



  //css for auto zoom feature

  .leaflet-control-zoom-min {
    text-indent: -999em;
    background: #fff url(data:image/gif;base64,R0lGODlhGAAYAOZdACIiIiMjIy8vLyoqKsPDwzMzM0xMTDQ0NGlpaUtLS+Tk5J2dnXd3d7m5ueDg4GdnZykpKSYmJkpKSre3t09PT5eXl4KCgrCwsHNzc1lZWWhoaCcnJ5ubm3R0dFJSUp+fn1RUVJqamoODg8TExD09PYqKijo6OpGRkV1dXVFRUUNDQ3FxcZmZmYCAgEVFRXV1dSgoKIaGhlxcXEdHR5SUlMvLy5iYmNXV1VNTU7GxsbOzs9ra2jExMdbW1isrKywsLFtbW6qqqnh4eGpqat3d3XBwcI2NjWRkZLi4uL+/vyUlJZycnNvb297e3r6+vvf392VlZcbGxq2trWFhYWZmZszMzE5OTsDAwG1tbZWVlZaWlqGhod/f3////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAF0ALAAAAAAYABgAQAf/gF2Cg10KLFASAgISVBWEhFkAklaPlT0Rkpk2XRCZnj4oEwQknp4Dgw0BAFqPLZ0ZFJ4BDYICpSWEURNBpZ4Cgx+qvQAmgjs4AAEflV1XBckgShkJEQeeBUmPLwAezF0jKTqDGJkdXQaZLt5dTj/DCRq9MDldHgAbw5kPhdb5AAkXBpXAd0ABMyED8g1gsE6QAwwJhw3oQMQbB1UyRlSpQeDJAiClAoQg5OCZkUrPAGzpImJIpgJNBHWKIMUbF0FMGsTIdOpBphUNb5jo9cBWJgveLOQTgM6TihOCjkgq4s9AiGEUHFyoMMUfAA5dGHjFooEHDQSkMjEUREBYPiSDHEQkI1CJQL9SM5aAkHSAbsMuCxAYUGQAwQJvgQAAOw==) no-repeat scroll center center;
    background-size: 12px 12px;
  }
  .leaflet-control-zoom-min:focus {
    outline: 0;
  }
  .leaflet-control-zoom-min.leaflet-disabled {
    background-image: url(data:image/gif;base64,R0lGODlhGAAYAOZGAHp6eoWFhX9/f3t7e4KCgtvb2319faSkpJSUlMTExOzs7JiYmO/v79DQ0KWlpdXV1ZeXl8LCwq2trZWVldTU1KysrJOTk8HBwbS0tLW1tZ2dnaOjo5ubm9nZ2aurq+bm5oCAgMPDw+vr6+np6ZKSkomJicXFxYuLi9zc3Lm5ub+/v+Dg4J6enszMzMDAwN3d3djY2Pr6+oODg46OjqCgoHx8fJGRkaqqqr29vaampqenp7a2to+Pj7Ozs7u7u9HR0aKioqmpqX5+fs7OzsfHx66urv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAEYALAAAAAAYABgAQAf/gEaCg0YMERskBAQkGxeEhCoAkhOPlR8GkpmOApmdICwUBSednQKDDwMALo89nBwTnQMPggSkKYQvFC2knQSDJqm8ACWCIwsAAyaVRh0ByAs1HBYGzpkBHY8VABDLRigQP4MemRVGCJk83UYwIMIWB7xCDUYQAJjCkgeF1fgW84IpMAVgsKwIJ2ECJKgTpMDDQV4CKojoFiKVBhQrVhSIkUADqQERCClw5qNSNSJGMuSwNtEIJwNDuiko9mBHJlPwJN1Y+KEErwO1MmHohgEfgXOdZuAQBERSEHwAEEQQNkFBgws0oAIIYUSCVh0HZKhwMCqTQkEFguGjMCgDsgKVFwrw62QjwTEAAeAuNJLAAQJFCBwk6BYIADs=);
  }


  .leaflet-control-defaultextent {

  }
  
  .leaflet-control-defaultextent-toggle {
    text-indent: -9999px;
    white-space: nowrap;
    background-image: url('./assets/autozoom.svg');
    background-size: 20px 20px;
    display: block;
  }

  a.leaflet-control-defaultextent-toggle:focus{
    background-image: url('./assets/autozoom1.svg');
  }
  a.leaflet-control-defaultextent-toggle:active{
    background-image: url('./assets/autozoom.svg');
  }
  
  /* CSS for high-resolution devices */
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
      .leaflet-control-defaultextent-toggle {
          background-image: url('./assets/autozoom1.svg');
          background-size: 26px 26px;
          background-repeat: no-repeat;
      }
  }